<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    >
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    >
    {{ 'output.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body class="rubik-font">
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
    <script type="text/javascript">
      jQuery(function() {
          CartJS.init({{ cart | json }});
      });
    </script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.1.0/cart.min.js"
    ></script>

    {{ 'scripts.js' | asset_url | script_tag }}
  </body>
</html>
