{% comment %}
  TODO
  - Mobile friendly
  - Fix Icons
  - Layout percentages fix
{% endcomment %}

<div class="bg-grey-light-background mt-8">
  <div class="container flex flex-wrap sm:flex-row lg:justify-between text-sm">
    <div class="flex flex-row space-x-3 p-5 w-full justify-center sm:w-1/2 lg:w-1/4">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="40" height="40">
          <path d="M291.2 388.4c31.2-18.8 64.7-36.4 101.1-36.4l55.7 0c4.6 0 9.1-.2 13.6-.7l85.3 121.9c4 5.7 11.3 8.2 17.9 6.1s11.2-8.3 11.2-15.3l0-240c0-70.7-57.3-128-128-128l-55.7 0c-36.4 0-69.9-17.6-101.1-36.4C262.3 42.1 228.3 32 192 32C86 32 0 118 0 224c0 71.1 38.6 133.1 96 166.3L96 456c0 13.3 10.7 24 24 24s24-10.7 24-24l0-46c15.3 3.9 31.4 6 48 6c5.4 0 10.7-.2 16-.7l0 40.7c0 13.3 10.7 24 24 24s24-10.7 24-24l0-50.9c12.4-4.4 24.2-10 35.2-16.7zM448 200a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/>
        </svg>
      </div>
      <div>
        <h4 class="font-semibold uppercase">100% New Zealand</h4>
        On all orders over $199.00
      </div>
    </div>
    <div class="flex flex-row space-x-3 p-5 w-full justify-center sm:w-1/2 lg:w-1/4">
      <div>
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.25 3.25C3.00736 3.25 2 4.25736 2 5.5V16C2 17.2426 3.00736 18.25 4.25 18.25H4.30197C4.56712 19.6729 5.81527 20.75 7.315 20.75C8.81473 20.75 10.0629 19.6729 10.328 18.25H14.052C14.3171 19.6729 15.5653 20.75 17.065 20.75C18.5647 20.75 19.8129 19.6729 20.078 18.25H22C22.4142 18.25 22.75 17.9142 22.75 17.5C22.75 17.0858 22.4142 16.75 22 16.75V12.4047C22 11.9553 21.8655 11.5163 21.6137 11.1441L19.0674 7.37945C18.6489 6.76072 17.9506 6.39003 17.2037 6.39003H15.75V5.5C15.75 4.25736 14.7426 3.25 13.5 3.25H4.25ZM7.315 14.62C5.94831 14.62 4.79055 15.5145 4.39523 16.75H4.25C3.83579 16.75 3.5 16.4142 3.5 16V5.5C3.5 5.08579 3.83579 4.75 4.25 4.75H13.5C13.9142 4.75 14.25 5.08579 14.25 5.5V16.4706C14.2107 16.5615 14.1757 16.6547 14.1452 16.75H10.2348C9.83945 15.5145 8.68169 14.62 7.315 14.62ZM17.065 14.62C16.5944 14.62 16.1485 14.7261 15.75 14.9156V12.695L20.5 12.695V16.75H19.9848C19.5895 15.5145 18.4317 14.62 17.065 14.62ZM19.8373 11.195L15.75 11.195V7.89003H17.2037C17.4527 7.89003 17.6854 8.01359 17.8249 8.21983L19.8373 11.195ZM15.5 17.685C15.5 16.8207 16.2007 16.12 17.065 16.12C17.9293 16.12 18.63 16.8207 18.63 17.685C18.63 18.5493 17.9293 19.25 17.065 19.25C16.2007 19.25 15.5 18.5493 15.5 17.685ZM5.75 17.685C5.75 16.8207 6.45067 16.12 7.315 16.12C8.17933 16.12 8.88 16.8207 8.88 17.685C8.88 18.5493 8.17933 19.25 7.315 19.25C6.45067 19.25 5.75 18.5493 5.75 17.685Z" fill="#323544"/>
        </svg>
      </div>
      <div>
        <h4 class="font-semibold uppercase">Free Shipping</h4>
        On all orders over $199.00
      </div>
    </div>
    <div class="flex flex-row space-x-3 p-5 w-full justify-center sm:w-1/2 lg:w-1/4">
      <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 6C2.5 4.75736 3.50736 3.75 4.75 3.75H19.25C20.4926 3.75 21.5 4.75736 21.5 6V16.5484C21.5 17.791 20.4926 18.7984 19.25 18.7984H7.635L3.75032 22.277C3.52993 22.4743 3.21411 22.5237 2.94401 22.403C2.67391 22.2823 2.5 22.0141 2.5 21.7182V6ZM4.75 5.25C4.33579 5.25 4 5.58579 4 6V20.0399L6.84795 17.4897C6.9855 17.3665 7.16364 17.2984 7.34827 17.2984H19.25C19.6642 17.2984 20 16.9626 20 16.5484V6C20 5.58579 19.6642 5.25 19.25 5.25H4.75Z" fill="#323544"/>
      </svg>
      <div>
        <h4 class="font-semibold uppercase">Expert Support</h4>
        Need help? We are here to help
      </div>
    </div>
    <div class="flex flex-row space-x-3 p-5 w-full justify-center sm:w-1/2 lg:w-1/4">
      <div>
        <svg width="40" height="40" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.91623 4.96229C6.31475 4.25385 7.0644 3.81543 7.87725 3.81543H16.1228C16.9356 3.81543 17.6852 4.25385 18.0838 4.96229L20.461 9.18826C20.6505 9.52506 20.75 9.90497 20.75 10.2914V19.0646C20.75 20.3072 19.7426 21.3146 18.5 21.3146H5.5C4.25736 21.3146 3.25 20.3072 3.25 19.0646V10.2914C3.25 9.90497 3.34952 9.52506 3.53898 9.18826L5.91623 4.96229ZM11.25 9.14853V5.31543H7.87725C7.6063 5.31543 7.35641 5.46157 7.22357 5.69772L5.28238 9.14853H11.25ZM4.75 10.6485V19.0646C4.75 19.4788 5.08579 19.8146 5.5 19.8146H18.5C18.9142 19.8146 19.25 19.4788 19.25 19.0646V10.6485H4.75ZM18.7176 9.14853H12.75V5.31543H16.1228C16.3937 5.31543 16.6436 5.46157 16.7764 5.69772L18.7176 9.14853Z" fill="#323544"/>
        </svg>
      </div>
      <div>
        <h4 class="font-semibold uppercase">Wide Product Range</h4>
        3000+ Unique Items In Stock
      </div>
    </div>
  </div>
</div>
{% comment %} Footer Main {% endcomment %}
<footer class="bg-secondary py-4 text-grey text-sm">
  <div class="container flex sm:flex-row flex-wrap py-5 border-b border-grey-2 flex-col">
    {% comment %} About {% endcomment %}
    <div class="sm:w-1/2 lg:w-4/12 p-4 lg:py-0 lg:pr-8 flex flex-col">
      <h4 class="uppercase font-semibold pb-4 text-white">Tyre Supplies New Zealand</h4>
      <p class="pb-3">
        Serving DIY enthusiasts, farmers, small workshop owners and more with a wide range of specialist products,
        competitive prices and expert advice.
      </p>

      <a href="mailto:admin@tyresupplies.co.nz" class="hover:text-white hover:cursor-pointer w-auto py-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline mr-2">
          <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
        </svg>
        Email Us: <u>admin@tyresupplies.co.nz</u>
      </a>

      <a href="tel:642825574351" class="hover:text-white hover:cursor-pointer py-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 inline mr-2">
          <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
          <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
        </svg>
        Call Us: <u>+64 28 2557 4351</u>
      </a>
      <div class="flex flex-row text-secondary space-x-2 pt-3 items-center">
        <a href="">
          <div class="rounded-full size-9 bg-grey-2 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="size-5">
              <path fill="currentColor" d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/>
            </svg>
          </div>
        </a>
        <a href="">
          <div class="rounded-full size-9 bg-grey-2 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="size-6">
              <path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
            </svg>
          </div>
        </a>
      </div>
    </div>
    {% comment %} Customer Service {% endcomment %}
    <div class="sm:w-1/2 lg:w-2/12 p-4 lg:py-0 lg:px-8">
      <h4 class="uppercase font-semibold pb-4 text-white">Customer Service</h4>
      <ul>
        {% for link in linklists.footer.links %}
          <li class="py-1">
            <a class="hover:underline hover:text-white hover:cursor-pointer" href="{{ link.url }}">
              {{- link.title -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% comment %} Categories {% endcomment %}
    <div class="sm:w-1/2 lg:w-2/12 p-4 lg:py-0 lg:px-8">
      <h4 class="uppercase font-semibold pb-4 text-white">Categories</h4>
      <ul>
        {% for link in linklists.categories.links %}
          <li class="py-1">
            <a class="hover:underline hover:text-white hover:cursor-pointer" href="{{ link.url }}">
              {{- link.title -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% comment %} Newsletter {% endcomment %}
    <div class="sm:w-1/2 lg:w-4/12 p-4 lg:py-0 lg:pl-8">
      <h4 class="uppercase font-semibold pb-4 text-white">Subscribe to Newsletter</h4>
      Receive the latest updates about our products and promotions.
      <form action="">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Please enter your email"
          class="w-full p-3 rounded mt-3 mb-2 text-secondary"
        >
        <button
          type="submit"
          class="bg-primary text-secondary font-semibold py-3 px-6 rounded hover:cursor-pointer hover:opacity-80"
        >
          Subscribe
        </button>
      </form>
    </div>
  </div>
  {% comment %} Footer Bottom {% endcomment %}
  <div class="container flex flex-col lg:flex-row justify-between pt-3">
    <div>
      <ul class="flex flex-row space-x-4">
        {% for link in linklists.policies.links %}
          <li>
            <a class="py-3 hover:underline hover:text-white hover:cursor-pointer" href="{{ link.url }}">
              {{- link.title -}}
            </a>
          </li>
        {% endfor %}
      </ul>
      <p class="text-grey-2">
        Copyright &copy; {{ 'now' | date: '%Y' }} Tyre Supplies New Zealand. All Rights Reserved.
      </p>
    </div>
    {% comment %} Payment Icons {% endcomment %}
    <ul class="flex flex-row flex-wrap pt-3 space-x-2">
      {%- for type in shop.enabled_payment_types -%}
        <li>
          {{ type | payment_type_svg_tag }}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</footer>
